<div class="container my-5">
    <div class="row">
        <div class="col-lg-5 banner d-none d-md-block text-center mb-5">
            <img src="../../assets/img/financial-profit.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h2>Maximizar o lucro</h2>
            <p>Essa apicação tem como objetivo máximizar o lucro da Duna Eco, a empresa produz óculos de madeira com 4
                tipos de madeira:
            </p>
            <ul>
                <li>Ipanema</li>
                <li>Ubatuba</li>
                <li>Ilha bela</li>
                <li>Trindade</li>
            </ul>
            <p>O objetivo dessa aplicação é calcular o lucro máximo considerando uma quantidade limitada de madeira e
                horas trabalhadas. </p>
                <a [routerLink] = "['/calc']"><button class="btn btn-primary">Calcular</button></a>
            
        </div>
    </div>
</div>